.section_desc{
  color:var(--medium-gray);
}

.qna_list{
  width: 750px;
  margin:0 auto;
}
.qna_list li + li{
  margin-top: 1px;
}
.qna_list .question {
  height: 54px;
  padding:  0 20px;
  background: var(--light-gray);
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.qna_list .question span{
  opacity: 0.4;
  transition:0.5s;
}
.qna_list .answer{
  padding: 20px;
  display:none;
}
.qna_list .active .question{
  font-weight: bold;
}
.qna_list .active .question span{
  opacity: 1;
  transform:rotate(180deg);
}
.qna_list .active .answer{
  display:block;
}
.portfolio_list figcaption{
  width: 51%;
  margin:0 auto;
  display: flex;
  flex-direction:column;
  gap:27px;
  align-items:center;
}