.section_desc{
    color: var(--medium-gray);
}
.qna, .portfoio{
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-unit)) * 2;
    align-items: center;
}
.qna_list{
    width: 750px;
    margin: 0 auto;
}
.qna_list li + li{
    margin-top: 1px;
}