.banner{
  display: flex;
  flex-direction: column;
  gap:calc(var(--base-unit) * 2);
  align-items:center;
}
.banner .section_tt{
  color:var(--white);
}

.feature_list {
  display: flex;
  gap:27px;
}
.feature_list li{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap:27px;
  text-align: center;
}
.feature_list .icon{
  width: 108px;
  height: 108px;
  border:1px solid #439CCF;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #439CCF;
  font-size: 36px;
}

.testimonial_list li p{
  font-size: 24px;
  line-height: 36px;
  color: #489dcd;
  font-weight:300px;
  font-style:italic;
  width: 55%;
  margin:0 auto 27px;
}
.testimonial_list li small{
  color: #489dcd;
}